// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.my-container {
    margin: 0 auto;
    max-width: 1170px;
}
// .debug {
//     border: 1px dashed black;
//     min-height: 5px;
//   }
  * {
    font-family: 'Roboto', sans-serif;
  }